---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-4xl w-full font-bold mb-5">Projekte</div>
  </div>

  <HorizontalCard
    title="KI-Schulung – kompakt, praxisnah, verständlich."
    img="/Profil/gsub-Akademie.jpg"
    desc="Diese KI-Schulung biete ich an, um einen fundierten und praxisnahen Einstieg in die Welt der Künstlichen Intelligenz zu ermöglichen. In fünf Modulen lernst du, wie KI funktioniert, worauf du achten solltest und wie du sie im Arbeitsalltag sinnvoll einsetzt."
    url="https://www.gsub.de/gsub-akademie/seminare/ki-schulung"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="KI im sozialen Bereich sinnvoll einsetzen"
    img="/Profil/AI-Impact Days.jpg"
    desc="Bei den <strong>AI Impact Days</strong> in Berlin haben wir unsere KI-Lösung vorgestellt: Ein Chatbot, der Förderanträge vorbefüllt und vorprüft, um bürokratische Hürden zu senken und Prozesse zu vereinfachen. Die intensive Diskussion mit Fachleuten und Teilnehmenden hat gezeigt: Der Bedarf ist da!"
    url="https://www.linkedin.com/posts/gesellschaft-f%C3%BCr-soziale-unternehmensberatung_aiimpactdays-sozialeinnovation-faemrdermittel-activity-7316420568562462720-wJcQ/?utm_source=share&utm_medium=member_desktop&rcm=ACoAAFAex1YBBxU8wIu1LNj9-CRR6MZo8a-WelY"
    badge="NEW"
  />

  <div>
    <div class="text-4xl w-full font-bold mb-5 mt-20">KI-Assistenz</div>
  </div>

  <HorizontalCard
    title="EasyAmt - Macht Bürokratie einfach."
    img="/Profil/EasyAmt.png"
    desc="Ich helfe dir dabei, offizielle Schreiben verständlich zu machen. Einfach Dokument hochladen – ich erkläre dir den Inhalt in einfacher Sprache, übersetze bei Bedarf in deine Sprache und gebe dir Tipps, wie du Formulare richtig ausfüllst. Schnell, kostenlos und verständlich – für alle, die sich mit Behörden schwer tun."
    url="https://chatgpt.com/g/g-7XwzSJ0E5-easyamt"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Assistant"
    img="/Profil/The_Assitant_extended.jpg"
    desc="Dieser ChatBot optimiert deine Arbeitsabläufe und beschleunigt den Alltag. Mit spezialisierten Hotkeys und einer präzisen Arbeitsweise liefert er blitzschnelle und treffende Antworten."
    url="https://chatgpt.com/g/g-s5BkH9UiP-the-assistant"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PolitikRadar"
    img="/Profil/Politikradar.jpg"
    desc="Ich helfe dir, rhetorische Tricks in Texten zu erkennen und verständlich zu erklären. Poste einfach einen Link – ich analysiere den Inhalt, identifiziere Manipulationstechniken und fördere dein kritisches Denken!"
    url="https://chatgpt.com/g/g-oSWt8Pc3h-politikradar"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Seoul Travel Guide"
    img="/Profil/SeoulGuide.jpg"
    desc="Mache ein Foto und ich erzähle dir die Geschichte dahinter – von kulturellen Traditionen bis zu historischen Hintergründen. Ich bin dein smarter Reisebegleiter für Seoul und Südkorea"
    url="https://chatgpt.com/g/g-674db92f66d881919296486a8ee94760-seoul-guide"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Diktiergerät & Sprachmemos"
    img="/Profil/Diktiergerät.webp"
    desc="Diese KI hilft dir, Ideen fließend zu erfassen und automatisch in thematische Abschnitte zu gliedern. So behältst du den Überblick und strukturierst deine Gedanken effizient. "
    url="https://chatgpt.com/g/g-4wxJIVoDc-diktiergerat-sprachmemos"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sturmlicht Chroniken Guide"
    img="/Profil/Stormlight.jpg"
    desc="Ich helfe dir, die Welt von Roschar zu erkunden – mit Erklärungen zu Handlung, Charakteren und Themen. Ob detaillierte Analysen oder spoilerfreie Zusammenfassungen – frag mich alles über Sandersons Meisterwerk!"
    url="https://chatgpt.com/g/g-SLtD9goV2-the-stormlight-archive"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Middle Way"
    img="/Profil/themiddleway.jpg"
    desc="Ich begleite dich mit Einsichten zu Meditation, Buddhismus und Achtsamkeit. In einer klaren und ruhigen Sprache öffne ich einen Raum für Reflexion und persönliches Wachstum."
    url="https://chatgpt.com/g/g-pdS2R5i2w-middle-way"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Einkaufsplaner ALPHA"
    img="/Profil/Einkaufsplaner.png"
    desc="Diese KI erstellt deine Wochenmahlzeiten basierend auf aktuellen Angeboten und spart dir Zeit sowie Geld. Die passende Einkaufsliste gibt's direkt dazu!"
    url="https://chatgpt.com/g/g-eH0HA2Hjd-einkaufsplaner-pro"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Begginer-friendly coding assistant"
    img="/Profil/beginner.webp"
    desc="Dieser ChatBot hilft dir bei der Planung und Entwicklung deines Codes, ohne dich mit fertigen Lösungen zu überhäufen. Ideal für Anfänger, um echtes Verständnis aufzubauen!"
    url="https://chatgpt.com/g/g-alsH75AyZ-beginner-friendly-coding-assistant"
  />
  
  <div>
    <div class="text-4xl w-full font-bold mb-5 mt-20">KI-Assistenz für das Fördermittelmanagement</div>
  </div>

  <HorizontalCard
    title="Ihre Assistenz im Fördermittelmanagement"
    img="/Profil/Foerderfee_Logo.jpg"
    desc="FörderFee hilft dir, dich im Berliner Fördermittelmanagement zurechtzufinden – mit Fokus auf LHO und TV-L. Ich beantworte deine Fragen präzise und regelkonform, damit deine Anträge und Eingruppierungen rechtssicher sind!"
    url="https://chatgpt.com/g/g-7kng5aPM4-forderfee"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PK Eingruppierung"
    img="/Profil/PK_Eingruppierung.jpg"
    desc="Ich unterstütze dich bei der Prüfung und Eingruppierung von Personalstellen – stets basierend auf TV-L oder TVöD. Verlass dich auf eine präzise und regelkonforme Bewertung im Fördermittelmanagement!"
    url="https://chatgpt.com/g/g-679ce1e2f8e0819198ed613cbdf05d23-pk-eingruppierung"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Prüffeststellung"
    img="/Profil/Editor.jpg"
    desc="Diese KI optimiert deine Prüffeststellungen in Rechtschreibung, Grammatik und Stil. Ich sorge für eine klare, präzise und professionelle Ausdrucksweise!"
    url="https://chatgpt.com/g/g-hUuBHw33m-edit-pruffeststellung"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Redigieren"
    img="/Profil/redigieren.png"
    desc="Dieser ChatBot überprüft Rechtschreibung, Grammatik und Stil, um deine Texte verständlicher und hochwertiger zu machen. Perfektioniere deine Worte mit präziser Korrektur und stilistischer Feinabstimmung!"
    url="https://chatgpt.com/g/g-IFMSzWUk7-redigieren"
  />

  <div>
    <div class="text-4xl w-full font-bold mb-5 mt-20">Maßgeschneiderte Code-Lösungen</div>
  </div>

  <HorizontalCard
    title="PDF-Scanner"
    img="/Profil/GitHub_Banner.png"
    desc="Spare wertvolle Zeit mit meinem OCR-gestützten Tool zur automatischen Erkennung und Umbenennung von Prüfvermerken und Schlussbescheiden. Kann einfach auf andere Dokumente angepasst werden."
    url="https://github.com/TheDevAlan/PDF-Scanner"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BAPP_Datenbasis"
    img="/Profil/GitHub_Banner.png"
    desc="Der Code automatisiert die Extraktion von TLN-Daten aus den Eureka-TRS-Dokumenten, indem er die relevanten Informationen aus den PDFs in Textdateien umwandelt und diese strukturiert in eine Excel-Datei („Prüfvermerk") einträgt"
    url="https://github.com/TheDevAlan/BAPP_Datenbasis"
  />

</BaseLayout>
