---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">KI-Assistenz</div>
  </div>

  <HorizontalCard
    title="The Assistant"
    img="/Profil/The_Assitant_extended.jpg"
    desc="Dieser ChatBot optimiert deine Arbeitsabläufe und beschleunigt den Alltag. Mit spezialisierten Hotkeys und einer präzisen Arbeitsweise liefert er blitzschnelle und treffende Antworten."
    url="https://chatgpt.com/g/g-s5BkH9UiP-the-assistant"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PolitikRadar"
    img="/Profil/Politikradar.jpg"
    desc="Ich helfe dir, rhetorische Tricks in Texten zu erkennen und verständlich zu erklären. Poste einfach einen Link – ich analysiere den Inhalt, identifiziere Manipulationstechniken und fördere dein kritisches Denken!"
    url="https://chatgpt.com/g/g-oSWt8Pc3h-politikradar"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Seoul Travel Guide"
    img="/Profil/SeoulGuide.jpg"
    desc="Mache ein Foto und ich erzähle dir die Geschichte dahinter – von kulturellen Traditionen bis zu historischen Hintergründen. Ich bin dein smarter Reisebegleiter für Seoul und Südkorea"
    url="https://chatgpt.com/g/g-674db92f66d881919296486a8ee94760-seoul-guide"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Diktiergerät & Sprachmemos"
    img="/Profil/Diktiergerät.webp"
    desc="Diese KI hilft dir, Ideen fließend zu erfassen und automatisch in thematische Abschnitte zu gliedern. So behältst du den Überblick und strukturierst deine Gedanken effizient. "
    url="https://chatgpt.com/g/g-4wxJIVoDc-diktiergerat-sprachmemos"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sturmlicht Chroniken Guide"
    img="/Profil/Stormlight.jpg"
    desc="Ich helfe dir, die Welt von Roschar zu erkunden – mit Erklärungen zu Handlung, Charakteren und Themen. Ob detaillierte Analysen oder spoilerfreie Zusammenfassungen – frag mich alles über Sandersons Meisterwerk!"
    url="https://chatgpt.com/g/g-SLtD9goV2-the-stormlight-archive"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Middle Way"
    img="/Profil/themiddleway.jpg"
    desc="Ich begleite dich mit Einsichten zu Meditation, Buddhismus und Achtsamkeit. In einer klaren und ruhigen Sprache öffne ich einen Raum für Reflexion und persönliches Wachstum."
    url="https://chatgpt.com/g/g-pdS2R5i2w-middle-way"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Einkaufsplaner ALPHA"
    img="/Profil/Einkaufsplaner.png"
    desc="Diese KI erstellt deine Wochenmahlzeiten basierend auf aktuellen Angeboten und spart dir Zeit sowie Geld. Die passende Einkaufsliste gibt’s direkt dazu!"
    url="https://chatgpt.com/g/g-eH0HA2Hjd-einkaufsplaner-pro"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Begginer-friendly coding assistant"
    img="/Profil/beginner.webp"
    desc="Dieser ChatBot hilft dir bei der Planung und Entwicklung deines Codes, ohne dich mit fertigen Lösungen zu überhäufen. Ideal für Anfänger, um echtes Verständnis aufzubauen!"
    url="https://chatgpt.com/g/g-alsH75AyZ-beginner-friendly-coding-assistant"
  />
  
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">KI-Assistenz für das Fördermittelmanagement</div>
  </div>

  <HorizontalCard
    title="Ihre Assistenz im Fördermittelmanagement"
    img="/Profil/Foerderfee_Logo.jpg"
    desc="FörderFee hilft dir, dich im Berliner Fördermittelmanagement zurechtzufinden – mit Fokus auf LHO und TV-L. Ich beantworte deine Fragen präzise und regelkonform, damit deine Anträge und Eingruppierungen rechtssicher sind!"
    url="https://chatgpt.com/g/g-7kng5aPM4-forderfee"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PK Eingruppierung"
    img="/Profil/PK_Eingruppierung.jpg"
    desc="Ich unterstütze dich bei der Prüfung und Eingruppierung von Personalstellen – stets basierend auf TV-L oder TVöD. Verlass dich auf eine präzise und regelkonforme Bewertung im Fördermittelmanagement!"
    url="https://chatgpt.com/g/g-679ce1e2f8e0819198ed613cbdf05d23-pk-eingruppierung"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Prüffeststellung"
    img="/Profil/Editor.jpg"
    desc="Diese KI optimiert deine Prüffeststellungen in Rechtschreibung, Grammatik und Stil. Ich sorge für eine klare, präzise und professionelle Ausdrucksweise!"
    url="https://chatgpt.com/g/g-hUuBHw33m-edit-pruffeststellung"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Redigieren"
    img="/Profil/redigieren.png"
    desc="Dieser ChatBot überprüft Rechtschreibung, Grammatik und Stil, um deine Texte verständlicher und hochwertiger zu machen. Perfektioniere deine Worte mit präziser Korrektur und stilistischer Feinabstimmung!"
    url="https://chatgpt.com/g/g-IFMSzWUk7-redigieren"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Maßgeschneiderte Code-Lösungen</div>
  </div>

  <HorizontalCard
    title="PDF-Scanner"
    img="/Profil/GitHub_Banner.webp"
    desc="Spare wertvolle Zeit mit meinem OCR-gestützten Tool zur automatischen Erkennung und Umbenennung von Prüfvermerken und Schlussbescheiden. Kann einfach auf andere Dokumente angepasst werden."
    url="https://github.com/TheDevAlan/PDF-Scanner"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BAPP_Datenbasis"
    img="/Profil/GitHub_Banner.webp"
    desc="Der Code automatisiert die Extraktion von TLN-Daten aus den Eureka-TRS-Dokumenten, indem er die relevanten Informationen aus den PDFs in Textdateien umwandelt und diese strukturiert in eine Excel-Datei („Prüfvermerk“) einträgt"
    url="https://github.com/TheDevAlan/BAPP_Datenbasis"
  />

</BaseLayout>
